@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.site {
    display: flex;
    flex-direction: column;
}

.conteudo {
    width: 1320px;
    margin: 0 auto;
}

/* cabeçalhod */

.cabecalho {
    height: 140px;
    background-image: linear-gradient(430deg, #fff 0%, #c5c4c4 100%);
}

.cabecalho .conteudo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .conteudo .logo {
    max-width: 170px;
}

.cabecalho .conteudo .menus ul {
    display: flex;
    list-style: none;
    font-weight: 100;
    scale: 1;
} 

.cabecalho .conteudo .menus ul li:not(:nth-child(1)):not(:nth-child(7)) a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #9b9b9b;
    padding: 8px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 18px;
    transition: all 0.4s ease-out;
}

.cabecalho .conteudo .menus ul li:not(:nth-child(1)):not(:nth-child(6)):not(:nth-child(7)) a:hover {
    color: #9b9b9b;
    background-color: transparent;
    transition: all 0.4s ease-out;
    transform: scale(1.3);
    margin: -4px 3px 3px 3px;
}

.cabecalho .conteudo .menus ul li:nth-child(6) a {
    margin-left: 30px;
}

.cabecalho .conteudo .menus ul li:nth-child(6) a:hover {
    background-color: transparent;
    color: #9b9b9b;
    transition: all 0.2s ease-out;
}

.cabecalho .conteudo .menus ul li:nth-child(7) a {
    margin-left: 30px;
    display: flex;
    transition: all 0.2s ease-out;
    color: #fff;
    border-radius: 100px;
    border: #0082c4 solid 1px;
    text-decoration: none;
    padding: 8px;
    background-image: linear-gradient(180deg, #0082c4 0%, #003c6a 100%);
}

.cabecalho .conteudo .menus ul li:nth-child(7) a:hover {
    color: #0082c4;
    background-image: none;
}

.bi-search {
    display: inline-block;
    padding: 5px;
    margin: 3px 30px;
    background-color: #E4E4E4;
    border: 2px solid #9B9B9B;
    border-radius: 150px;
    font-size: 18px;
    color: #9B9B9B;
    text-align: center;
    line-height: 18px;
    height: 30px;
    cursor: pointer;
}

.menu .conteudo {
    display: flex;
    align-items: center;
}

.menu {
    height: 60px;
    background-image: linear-gradient(180deg, #fff 0%, #DBDBDB 100%);
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    color: #003C6A;
    font-weight: 450;
    padding: 20px;
}

.menu ul {
    flex-basis: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu ul li a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #0082c4;
}

.banner img {
    width: 100%;
    display: flex;
}

/* notícias */

.noticias-competencias {
    background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
}

.noticias-competencias h2{
    color: #fff;
    font-weight: 500;
    margin-top: 80px;
    padding:40px 0 15px 30px;
    font-size: 28px;
}

.conteudo-noticias {
    display: flex;
    justify-content: space-between;
}

.conteudo .vermais {
    overflow:hidden;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 12px;
    padding: 0 40px 0 0;
    
}

.conteudo .vermais:hover {
    font-size: 12.3px;
}



/* cards*/

.card-noticias {
    margin:30px 30px;
    flex-basis: 24%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #005CAAC7;
}

.card-noticias .card-noticias-data {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    position: absolute;
    top: 190px;
    width: 100%;
    background-color: #00315eec;
    color: #50c4ff;
    font-weight: 400;
    transition: all 0.2s ease-out;
}

.card-noticias .card-noticias-imagem:hover .card-noticias-data {
    top: 220px;
}

.card-noticias .card-noticias-imagem {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.card-noticias .card-noticias-imagem img{
    width: 100%;
    transition: all 0.4s ease-out;
}

.card-noticias .card-noticias-imagem:hover img{
    transform: scale(1.1);
}

.card-noticias-texto {
    color: #003C6A;
    font-size: 17px;
    font-weight: 200;
    line-height: 22px;
    padding: 15px;
}

.card-noticias .dif {
    margin-top: 20px;
}

.card-noticias .leia-mais .leiamais {
    background-color: #EBEBEB;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    color: #0082c4;
    font-style: italic;
    font-weight: 200;
    float: right;
    margin-right: 20px;
}

.card-noticias .leia-mais .leiamais:hover {
    color: #fff;
    background-color: #0082c4;
}
.conteudo .h2{
    padding: 20px;
}
.conteudo-competencias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudo-competencias .card-competencias{
    width: 32%;
    border-radius: 20px;
    overflow: hidden;
    border: solid 2px #0058E6;
    margin-bottom: 20px;
    position: relative;
}

.conteudo-competencias .card-competencias img{
    max-width: 100%;
    transition: all 0.4s ease-out;
}

.conteudo-competencias .card-competencias .titulo{
    position: absolute;
    z-index: 1;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
}


.conteudo-competencias .card-competencias:hover img{
    transform: scale(1.2);
}






/***********rodapeeeeeeeeeee comeca aqui***********/

.rodape {
    background-image: linear-gradient(180deg, #00315e 0%, #000825 100%);
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
.rodape{
    align-items: start;
}
/*.rodape::before,
.rodape::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #00315e;
    opacity: 0.5;   
    clip-path: polygon(100% 100%, 100% 0%, 70% 50%, 100% 100%);    
}

.rodape::before {
    bottom: -25px; 
}

.rodape::after {
    bottom: -25px; 
    transform: rotate(180deg); 
}*/







.rodape .conteudo {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.rodape .coluna0 {
    align-self: flex-start;
}

.rodape .coluna0 img {
    height: 120px;
}

.rodape .conteudo2 {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%; 
}

.rodape .coluna1,
.rodape .coluna2 {
    flex: 1; 
}

.rodape .coluna1 ul {
    padding: 5px;
}

.rodape .coluna1 ul li {
    display: inline-flex;
    background-color: #0082c4;
    border: 1px solid #0360f5;
    border-radius: 120px;
    color: #00315E;
    font-size: 18px;
    height: 30px;
    line-height: 23px;
    margin: 2px 5px;
    padding: 3px;
    text-align: center;
    transition: all 0.5s ease;
}

.rodape .coluna1 ul li a {
    color: inherit;  /*herda cor do pai*/
}

.rodape .coluna1 ul li:hover {
    background-color: transparent;
    border: 5px solid #025e8c;
    color: #0279b4;
    transform: scale(1.2);
}

.rodape .coluna1 p {
    color: #fff;
    margin-top: 20px;
}

.rodape .coluna2 ul {
    list-style: none;
    padding: 0 0 0 40px;
}

.rodape .coluna2 ul li {
    font-size:small;
    margin-bottom: 10px;
}
.rodape .coluna2 ul li a {
    color: #fff;
    transition: color 0.4s linear;
    text-decoration: none;
}

.rodape .coluna2 ul li a:hover {
    color: #0c5478;
}

.rodape .coluna1 button{
    height: 30px;
    width: 350px;
    margin-top: 30px;
    color: white;
    border: 2px solid #0378b3;
    border-radius: 20px;
    padding: 6px 20px 6px 20px;
    background-color:#0082c4;
}

.rodape .coluna1 button:hover{
    background-color:transparent ;
    border: 2px solid #015985; 
    color: white; 
    transition: all 0.4s ease-out;
}

.rodape .coluna1 button a{
    color: inherit;
    text-decoration: none;
}
.rodape .coluna2 button {
    position: relative;
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
    height: 45px;
    width: 190px;
    margin-top: 20px;
    border: 1px solid #0082c4;
    border-radius: 20px;
    padding: 6px 20px 6px 20px;
    background-color: #fff;
    color: #0082c4;
    transition: all 0.3s ease;
    overflow: hidden;
    
  
}

.rodape .coluna2 button:hover {
    background-color:transparent ;
    font-size: medium;
    border: 5px solid #026698; 
    color: #0271a8; 
    transform: scale(1.1);
    left: -10px; /
   
}

.rodape .coluna2 button a{
    display: flex;
    align-items: center; 
    justify-content: center;
    color: inherit;
    text-decoration: none;
    width: 100%; 
    height: 100%;
}

.rodape .coluna2 button i{
    display: inline;
    align-items: baseline;
    background-color: transparent;
    height: 13px;
    width: 20px;
    margin-left: 10px;
    color: #0070a8; 
    transition: inherit;
 
}
.rodape .coluna2{
    display: flex; 
    flex-direction: row; 
}

/*caixa q botei os direitos dentro pq n tava centralizando*/
.rodape .caixa{
    display: flex;
    justify-content: center;
}
.rodape .caixa .direitos{
    color:#0251d0;
    font-size: 12px;
    padding: 20px;
    display:flex;
    justify-content: center;
    
    width: 30%;
}
